html {
    background-color: #252839;
    color: #f2b632;
    font-family: 'Cutive Mono', monospace;
    margin: 4em;
    text-align: center;
}

h1 {
    font-size: 5em;
    font-weight: 50;
    margin: 0;
}

header h2 {
    margin: 0;
}

h2 {
    color: #b5b5b7;
}

h3 {
    font-weight: normal;
}

p {
    font-size: 1.3em;
}

a {
    color: #f2b632;
}

.badge h3 {
    font-size: 1.5em;
    font-weight: bold;  
}

header, footer {
    text-align: left;
}

footer {
    margin-top: 5em;
    margin-left: 2em;
}

footer p {
    margin: .3em;
}

#skills-container, header {
    margin-bottom: 8em;
}

.badge img {
    width: 100px;
}

#badges {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: stretch;
}

.badge {
    color: #252839;
    background-color: #f2b632;
    border-radius: 10px;
    
    padding: 20px;    
}

.badge:hover {
    box-shadow: 0px 0px 10px rgb(88, 88, 88);
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.skill {
    color: #252839;
    background-color: #f2b632;
    border-radius: 50%;
    
    padding: 1em;
    width: 7.5em;
    height: 7.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skill:hover {
    box-shadow: 0px 0px 10px rgb(88, 88, 88);
}


ul {
    list-style-position: inside;
    list-style-type:none;
    padding-left: 0;
    font-style: italic;
    color: #677077;
}

/* Landscape phone to portrait tablet */
@media (max-width: 900px) {
    html {
        margin: 2em;
    }

    #badges {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 4em;
    }

}
/* Landscape phones and down */
@media (max-width: 600px) {
    html {
        margin: 1em;
    }

    #badges {
        grid-template-columns: 1fr;
    }

    #skills {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 3em;
        margin-top: .3em;
    }

    footer {
        margin-bottom: 3em;
    }

}

